*{
	margin: 0;
	padding: 0;
	background-color: black;
	color: #fff;
	overflow: hidden;
}
.main{
	display: flex;
    height: 100vh;
    padding: 0.5rem;
     

}
.left{
	background-color: black;
	width: 350px;
	border-radius: 16px;
	overflow: hidden;


}
.center{
	background-color: #121212;
	flex: 1;
  border-radius: 16px;
  overflow: auto;
}
.player{
	background-color: black;
	position: fixed;
	width: 100%;
    height: 72px;
   bottom: 0;
	

}
.side{
	background-color: #121212;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	padding: 0.5rem 0.75rem ;
    
}
a{
	text-decoration: none;
	color: white;
}
.home{
	background-color: #121212;
	line-height: 2.5rem;
	opacity: 0.7;
	padding: 0.5rem 0.75rem;
}
.home i{
	font-size: 1.5rem;
	background-color: #121212;
}
.home a{
	font-size: 1rem;
	margin: 1rem;
	background-color: #121212;
}
.home:hover {
    opacity: 1;
}
 .library{
 	height: 100% ;
 	background-color: #121212;
 	margin-top: 0.50rem;
 	padding: 0.5rem 0.75rem;
 	border-radius: 1rem;

 }

.lib{
	background-color: #121212;
	
	font-size: 1rem;
	display: flex;
	opacity: 0.7;
    
	
}
.option a{
	margin: 0.75rem;
	background-color: #121212;

}
.option img{
	background-color:#121212;
	margin: 0.50rem;
}
.icon i{

	margin: 0.75rem;
	background-color: #121212;
}
.option{
	display: flex;
    align-items: center;
	justify-content: space-between;
     font-size: 1rem;
	background-color: #121212;
}
.icon{
background-color: #121212;
font-size: 1rem;
opacity: 0.7;
}

img{
	height: 1.25rem:;
	width: 1.25rem;

}
.lib:hover{
	opacity: 1;
}
.icon:hover{
	opacity: 1;
}
.boxes{
	background-color: #232323;
	height: 8rem;
	border-radius: 1rem;
	line-height: 2rem;
	margin: 0.5rem;
	padding: 0.5rem 0.75rem;
	
}
.pr1{
	background-color: #232323;
	font-size: 1rem;
	padding: 0.3rem 0.75rem;

}
.pr2{
	background-color: #232323;
	font-size: 0.75rem;
	padding: 0.3rem 0.75rem ;
	opacity: 0.8;
}
.btu{
	font-weight: 700;
	background-color: white;
	color: #000;
	border-radius: 1rem;
	height: 2rem;
	width: 7rem;
	margin: ;
}
.boxes1{
	background-color: #232323;
	height: 10rem;
	border-radius: 1rem;
	line-height: 2rem;
	margin: 0.5rem;
	padding: 0.5rem 0.75rem;
	
}

.btun{
	font-weight: 700;
	background-color: white;
	color: #000;
	border-radius: 1rem;
	height: 2rem;
	width: 10rem;

}
.pr11{
	background-color: #232323;
	font-size: 1rem;
	padding: 0.3rem 0.75rem;

}
.pr22{
	background-color: #232323;
	font-size: 0.75rem;
	padding: 0.3rem 0.75rem ;
	opacity: 0.8;
}

.sticky{
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: #121212;
	z-index: 10;

	padding: 0.70rem 1.75rem;
}
.bn{
	color: white;
	border-radius: 1rem;
	font-weight: 700;
	height: 1.75rem;
	width: 7rem;
    background-color: black;
    border: none;
    align-items: center;
    margin: 0.75rem;
}
.color{
	background-color: #121212;
}
 .img {
 	background-color: #121212;
 	margin: 0.75rem;
 }
 .img img{background-color: #121212}

.badge-i{ 
border-radius:50%;
 background-color: #121212;
 }
 .badge{
 	background-color: #121212;

 }
 .center{
 	margin-left:0.5rem ;
 }
 
.pr3{
	background-color: #121212;
	font-size: 1.5rem;
	padding: 0.5rem 0.5rem;
}
.card1{
	height: 18rem;
	width: 12rem;
	border-radius: 0.3rem;
	background-color: #232323;
	margin: 0.5rem;
}
.card1 img{
	height: 160px;
	width: 160px;
	margin: 1rem;
	border-radius: 0.3rem;
	background-color: #121212;
	box-shadow: 0px 1px 156px 5px black;
}
.pr33{
	 background-color: #232323;
	 margin: 0.5rem;
	 font-size: 1.2rem;
	 padding-left:0.5rem;

}
.pr44{
   background-color: #232323;
	 margin: 0.5rem;
	 font-size: 0.75rem;
	 padding-left:0.5rem;
     opacity: 0.5;
     text

}
.cards{
	background-color: #121212;
	margin: 1rem;
	margin-bottom: 7rem;

}
.card-all{
	display: flex;
	background-color: #121212;
	margin: 1rem;
}

@media (max-width:1000px){
	.hide{
		display: none;
	}
}

.btun:hover{
	cursor: pointer;
}
.bn:hover{
	cursor: pointer;
}
.btu:hover{
	cursor: pointer;
}
.img:hover{
	cursor: pointer;
}

.card1:hover{
	cursor: pointer;
}
.player{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.sidebar{
	width: 20%;
	display: flex;
}
.playersong{
	width: 60%;
	jus
}

.curr{
	width: 60%;
}
.player-controls{
	display: flex;
	justify-content: center;
	align-items: center;
}

.playerimg{
justify-content: center;
align-items: center;
margin-right: 1.5rem;
opacity: 0.7;
}
.plp{
	justify-content: center;
	align-items: center;
	display: flex;
}

.pro-bar{
	width: 70%;
	appearance: none;
	background-color: transparent;
	cursor: pointer;


}

.pro-bar::-webkit-slider-runnable-track{
 background-color: #ddd;
 border-radius: 100px;
 height: 0.25rem;
}
.pro-bar::-webkit-slider-thumb{
	appearance: none;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin-top: -6px;
	background-color: #1bd760;
}
.playerimg:hover{
	opacity: 1;
	cursor: pointer;
}
.po{
	display: flex;
	justify-content: center;
}

.jh{
	height: 4rem;
	width: 4rem;
	border-radius: 0.5rem;
}

.hawa{
	margin-top:1rem ;
	margin-left: 0.5rem;
}
.iconm{
	margin-top: 1rem;
	margin-left: 0.75rem;
	padding:0.5 rem 0.5rem ;
}
.hawa h5{
	opacity: 0.7;
	font-size: 0.75rem;
	margin-top: 0.5rem;
}





.speaker{
   	appearance: none;
	background-color: transparent;
	cursor: pointer;
	

}
.speaker::-webkit-slider-runnable-track{
 background-color: white;
 border-radius: 100px;
 height: 0.25rem;
}
.speaker::-webkit-slider-thumb{
	appearance: none;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin-top: -6px;
	background-color: red;
}

.sideimg{

}
.spl{
	
}